/* RESET DO CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

/* VERIFICANDO OS TAMANHOS DE TELA */

@media(min-width:400px){
    body{
        font-size: 14px;
    }

}

/* INICIO DO HEADER */

header{
    height: 100vh;
    background-image: url("../imagens/img_animate.gif");
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;

}

.menu{
    position: fixed;
    width: 100vw;
    background-color: rgba(245, 245, 245, 0.158);
    border-radius: 0 50px 50px 0px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none; 
}

.menu li{
    text-shadow: 2px 2px 5px grey;
    font-size: 1.3em;
}

.menu a{
    display: block;
    padding: 1vh;

}

.secao-cabecalho{
    padding:10vh ;

}

/* TÉRMINO DO HEADER */

a{
    color: whitesmoke; 
    text-decoration: none; 
}

a:hover{
    color: rgb(218, 214, 214);
    text-decoration: underline;
    transition: 2s;
}

.site-title,
.site-subtitle{
    text-align: center;
    
}

.site-title{
    font-family: 'Overpass Mono', monospace;
}

h1{
    font-size: 2rem;
    text-shadow: 4px 4px 10px grey;
}

h2{
    font-style: italic;
}

.secao-imagens{
    margin-top: -0.5vh;
    background-image: linear-gradient(black, white);
    width: 100vw;
    height: 100vh;
}

.secao-imagens .grid{
    display: grid;
    gap: 2em;
    justify-content: center;
}

@media(min-width: 0px){
    .menu{
        display: none;
    }

    .menu-hamburguer{
        display: initial;
    }


}


@media(min-width: 840px){
    .secao-imagens .grid{
        grid-template-columns: repeat(2, 50%);
    }

    .menu{
        display: initial;
    }

    .menu-hamburguer{
        display: none;
    }

}
@media(min-width: 1200px){
    .secao-imagens .grid{
        align-content: center;
        grid-template-columns: repeat(3, 30%);
    }

    .menu{
        display: initial;
    }

}

.secao-imagens figure{
    text-align: center;
}

.secao-imagens h2{
    font-size: 3em;
    margin-bottom: 2em;
}

.img-tecnologias{
    height: 400px;
    width: 320px;
    object-fit: scale-down;
}

/* INICIO MENU PEQUENO */

#check-menu{
    display: none;
}

#icone-menu{
    cursor: pointer;
    padding: 10px;
    position: absolute;
    z-index: 1;
}

.barra-menu{
    background-color: #333333;
    height: 40%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
    
}

.menu-pequeno{
    width: 100%;
    position: absolute;
    top: 60px;
}

.menu-pequeno a{
    text-decoration: none;
}

.link-menu{
    background-color: #494950;
    padding: 20px;
    font-size: 1em;
    transition: all .2s linear;
    border: solid black 2px;
    opacity: 0;
    margin-top: 200px;
}

.link-menu:hover{
    background-color: #050542;

}

#check-menu:checked ~ .barra-menu{
    transform: translateX(300px );
}

#check-menu:checked ~ .barra-menu .menu-pequeno .link-menu{
    opacity: 1;
    margin-top: 0;
    transition-delay: 0.2s;
}

/* TÉRMINO MENU PEQUENO */