/* RESET DO CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

/* VERIFICANDO OS TAMANHOS DE TELA */

@media(min-width:400px){
    body{
        font-size: 14px;
    }

}

/* INICIO DO HEADER */

header{
    height: 100vh;
    background-image: url("../imagens/img_animate.gif");
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;

}

.menu{
    position: fixed;
    width: 100vw;
    background-color: rgba(245, 245, 245, 0.158);
    /*border-radius: 0 0px 120px 120px;*/
    z-index: 1; /* FAZ COM QUE O MENU FIQUE A FRENTE DE TUDO */
}

.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none; 
}

.menu li{
    text-shadow: 2px 2px 5px grey;
    font-size: 1.3em;
}

.menu a{
    display: block;
    padding: 1vh;
}

.menu a:active,
.menu a:hover{
    
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 10px white;
}


.secao-cabecalho{
    padding:10vh;
    transform: scale(0) translateZ(50vh);
    opacity: 0;

    animation: linear 2s animacaoTitulos forwards; /* CHAMANDO A ANIMAÇÃO ABAIXO */
}

@keyframes animacaoTitulos{ /* FUNÇÃO DE ANIMAÇÃO DO TEXTO INICIAL */

    100%{
        transform: scale(1) translateZ(0vh);
        opacity: 1;
    }

}

.secao-cabecalho h1{
    margin-top: 35vh;
}




/* TÉRMINO DO HEADER */

a{
    color: whitesmoke; 
    text-decoration: none; 
}

a:hover{
    text-decoration: underline;
    transition: text-shadow 2s, color 1s;
}

.site-title,
.site-subtitle{
    text-align: center;
    
}

.site-title{
    font-family: 'Overpass Mono', monospace;
}

h1{

    text-shadow: 0px 0px 20px white;
}

h2{
    text-shadow: 0px 0px 5px white;
    font-style: italic;
    
}


/* INICIO - SEÇÃO IMAGENS */
.secao-imagens{
    margin-top: -0.5vh;
    background-image: linear-gradient(black, white);
    width: 100vw;
    min-height: 100vh;
}

.secao-imagens .grid{
    display: grid;
    gap: 2em;
    justify-content: center;
}

@media(min-width: 0px){
    .menu{
        display: none;
    }

    .menu-hamburguer{
        display: initial;
    }
}

@media(min-width: 840px){
    .secao-imagens .grid{
        grid-template-columns: repeat(2, 50%);
    }

    .menu{
        display: initial;
    }

    .menu-hamburguer{
        display: none;
    }

}
@media(min-width: 1200px){
    .secao-imagens .grid{
        align-content: center;
        grid-template-columns: repeat(3, 30%);
    }

    .menu{
        display: initial;
    }

}

.secao-imagens figcaption{
    text-align: center;
    color: black;
    font-size: 1.3em;
    transform: scale(1);
}

.secao-imagens {
    text-align: center;
}

.secao-imagens h2{
    font-size: 3em;
    margin-bottom: 2em;
}

.img-tecnologias{
    height: 400px;
    width: 320px;
    object-fit: scale-down;
    transform: scale(1);
}


figure:active,
figure:hover{
    transition: 2s;
    transform: scale(1.2)rotateY(360deg);
}




/* TÉRMINO - SEÇÃO IMAGENS */

/* INICIO MENU PEQUENO */

#check-menu{
    display: none;
}

#icone-menu{
    cursor: pointer;
    padding: 10px;
    position: absolute;
    z-index: 1;
}

.barra-menu{
    background-color: #333333;
    height: 40%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
    
}

.menu-pequeno{
    width: 100%;
    position: absolute;
    top: 60px;
}

.menu-pequeno a{
    text-decoration: none;
}

.link-menu{
    background-color: #494950;
    padding: 20px;
    font-size: 1em;
    transition: all .2s linear;
    border: solid black 2px;
    opacity: 0;
    margin-top: 200px;
}

.link-menu:hover{
    background-color: #050542;

}

#check-menu:checked ~ .barra-menu{
    transform: translateX(300px );
}

#check-menu:checked ~ .barra-menu .menu-pequeno .link-menu{
    opacity: 1;
    margin-top: 0;
    transition-delay: 0.2s;
}

/* TÉRMINO MENU PEQUENO */

/* INICIO DA SECAO DE CONTATO */

.secao-contato{
    background-image: linear-gradient(white, black);
    max-width: 100vw;
    min-height: 100vh;
}

.secao-contato .grid{
    display: grid;
    gap: 2em;
    justify-content: center;
    margin-top: 15%;
}

@media(min-width: 540px){
    .secao-contato .grid{
        grid-template-columns: repeat(2, 50%);
    }
}
@media(min-width: 840px){
    .secao-contato .grid{
        align-content: center;
        grid-template-columns: repeat(4, 20%);
    }
}

.secao-contato a{
    text-align: center;
    font-size: 10em;
    padding: 0;
}

.secao-contato a:active,
.secao-contato a:hover{
    text-shadow: 0 0 10px white;
    text-align: center;
    font-size: 10em;
    padding: 0;
}

.secao-contato h2{
    margin-top: 5%;
    font-size: 3em;
    margin-bottom: 2em;
    color: black;
}

/* INICIO DA SECAO DE CONTATO */

/* INICIO - RODAPE */

.box-5{

    height: 5vh;
    width: 100%;
    background-color: #4b5965;
    margin-top: 0;
    align-content: center;
    justify-content: center;
  }

  .box-5 p{
    margin-top: 1.7vh;
    align-content: center;
    justify-content: center;
  }
  
  
  .box-5-1{
    flex-grow: 1;
    display: flex;
    height: 100%;
    width: 85%;
    background-color: transparent;
    margin-right: 0;
    margin-left: 2%;
    align-content: center;
    justify-content: center;
  }

  .texto-rodape{
    font-size: 1em;
  }

/* TÉRMINO DO RODAPÉ */


/* INICIO DE AJUSTE DE FONTES */

@media(min-width: 0px){
    .site-title,h1{
        font-size: 1.3em;
    }

    .site-subtitle,h2{
        font-size: 1em;
    }
}

    .texto-rodape{
        font-size: 0.5em;
    }

@media(min-width: 500px){
    .site-title,h1{
        font-size: 1.5em;
    }

    .site-subtitle,h2{
        font-size: 1.3em;
    }
}

    .texto-rodape{
        font-size: 0.8em;
        margin-left: 3%;
    }

@media(min-width: 600px){
    .site-title,h1{
        font-size: 2em;
    }

    .site-subtitle,h2{
        font-size: 1.7em;
    }

    .texto-rodape{
        font-size: 1em;
    }
}


@media(min-width: 700px){
    .site-title,h1{
        font-size: 2.5em;
    }

    .site-subtitle,h2{
        font-size: 2.2em;
    }
}


@media(min-width: 800px){
    .site-title,h1{
        font-size: 3em;
    }

    .site-subtitle,h2{
        font-size: 2.7em;
    }
}

@media(min-width: 900px){
    .site-title,h1{
        font-size: 3.5em;
    }

    .site-subtitle,h2{
        font-size: 3.2em;
    }
}

@media(min-width: 1000px){ /* 1000 */
    .site-title,h1{
        font-size: 4em;
    }

    .site-subtitle,h2{
        font-size: 3.7em;
    }
}

@media(min-width: 1200px){  /* 1000 */
    .site-title,h1{
        font-size: 4.5em;
    }

    .site-subtitle,h2{
        font-size: 4.2em;
    }
}



/* TÉRMINO DE AJUSTE DE FONTES */